PORT=5002
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=BattleNexus2026!
DB_NAME=battlenexus
JWT_SECRET=bce51d14ba2ac3b82bf54d0771a971d8e78fc25edccb585e4cfd8f58def8f21dd64cfec8690df6a680bd329d9986e16c348809fd1164a99c16cbee9f736df299
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=goko05158@gmail.com
EMAIL_PASS=fgnhaoilyywrnwef
ADMIN_EMAIL=UmairAdmin@gmail.com
ADMIN_PASSWORD=AdminUmairkhan31
CORS_ORIGIN=*